@import '~bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/css/all.css';


header {
    height: 60px;
}

main {
    display: flex;
    
    #sidebar {
        height: calc(100vh - 60px);
        width: 200px;
        border-top: 5px solid dark;
    }

    #content {
        height: calc(100vh - 60px);
        width: calc(100wh - 200px);
        overflow-y: auto;
    }
}
